.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .desktop .overlap {
    position: absolute;
    width: 1321px;
    height: 1290px;
    top: -104px;
    left: 102px;
  }
  
  .desktop .group {
    position: absolute;
    width: 1152px;
    height: 1290px;
    top: 0;
    left: 169px;
  }
  
  .desktop .overlap-group {
    position: relative;
    height: 1290px;
  }
  
  .desktop .rectangle {
    position: absolute;
    width: 974px;
    height: 1290px;
    top: 0;
    left: 178px;
    background-color: #ffffff;
  }
  
  .desktop .overlap-wrapper {
    position: absolute;
    width: 1116px;
    height: 999px;
    top: 92px;
    left: 0;
  }
  
  .desktop .overlap-2 {
    position: relative;
    height: 999px;
  }
  
  .desktop .upcoming-events {
    position: absolute;
    width: 1116px;
    height: 809px;
    top: 0;
    left: 0;
  }
  
  .desktop .text-wrapper {
    width: 300px;
    top: 30px;
    left: 70px;
    white-space: nowrap;
    position: absolute;
    font-family: "Advent Pro-Bold", Helvetica;
    font-weight: 700;
    color: #242565;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .group-2 {
    position: absolute;
    width: 1094px;
    height: 285px;
    top: 388px;
    left: 22px;
  }
  
  .desktop .overlap-group-wrapper {
    position: absolute;
    width: 350px;
    height: 285px;
    top: 0;
    left: 0;
  }
  
  .desktop .overlap-3 {
    position: relative;
    width: 440px;
    height: 380px;
    top: -28px;
    left: -47px;
    background-image: url(./img/image.png);
    background-size: 100% 100%;
  }
  
  .desktop .text-wrapper-2 {
    position: absolute;
    width: 243px;
    top: 213px;
    left: 120px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .desktop .p {
    position: absolute;
    width: 243px;
    top: 260px;
    left: 120px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #6a6a6a;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
  }
  
  .desktop .div-wrapper {
    position: absolute;
    width: 43px;
    height: 44px;
    top: 215px;
    left: 71px;
  }
  
  .desktop .overlap-group-2 {
    position: relative;
    width: 39px;
    height: 44px;
  }
  
  .desktop .text-wrapper-3 {
    position: absolute;
    width: 26px;
    top: 0;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #3d37f1;
    font-size: 11.4px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-4 {
    position: absolute;
    width: 38px;
    top: 13px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 28.4px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .group-3 {
    position: absolute;
    width: 359px;
    height: 285px;
    top: 0;
    left: 374px;
  }
  
  .desktop .overlap-4 {
    position: relative;
    width: 449px;
    height: 380px;
    top: -28px;
    left: -47px;
    background-image: url(./img/group-10-4.png);
    background-size: 100% 100%;
  }
  
  .desktop .group-4 {
    width: 41px;
    height: 41px;
    left: 70px;
    position: absolute;
    top: 215px;
  }
  
  .desktop .overlap-group-3 {
    position: relative;
    width: 37px;
    height: 41px;
  }
  
  .desktop .text-wrapper-5 {
    position: absolute;
    width: 26px;
    top: 0;
    left: 6px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #3d37f1;
    font-size: 11.4px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-6 {
    width: 37px;
    top: 10px;
    position: absolute;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 28.4px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .group-5 {
    position: absolute;
    width: 350px;
    height: 285px;
    top: 0;
    left: 749px;
  }
  
  .desktop .overlap-5 {
    position: relative;
    width: 440px;
    height: 380px;
    top: -28px;
    left: -47px;
    background-image: url(./img/group-10-7.png);
    background-size: 100% 100%;
  }
  
  .desktop .group-6 {
    width: 33px;
    height: 41px;
    left: 70px;
    position: absolute;
    top: 215px;
  }
  
  .desktop .overlap-group-4 {
    position: relative;
    width: 29px;
    height: 41px;
  }
  
  .desktop .text-wrapper-7 {
    position: absolute;
    width: 26px;
    top: 0;
    left: 1px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #3d37f1;
    font-size: 11.4px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-8 {
    width: 29px;
    top: 10px;
    position: absolute;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 28.4px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .group-7 {
    position: absolute;
    width: 1094px;
    height: 285px;
    top: 72px;
    left: 22px;
  }
  
  .desktop .overlap-6 {
    position: relative;
    width: 440px;
    height: 380px;
    top: -28px;
    left: -47px;
    background-image: url(./img/group-10-6.png);
    background-size: 100% 100%;
  }
  
  .desktop .group-8 {
    position: absolute;
    width: 350px;
    height: 285px;
    top: 0;
    left: 374px;
  }
  
  .desktop .overlap-7 {
    position: relative;
    width: 440px;
    height: 380px;
    top: -28px;
    left: -47px;
    background-image: url(./img/group-10-5.png);
    background-size: 100% 100%;
  }
  
  .desktop .overlap-8 {
    position: relative;
    width: 440px;
    height: 380px;
    top: -28px;
    left: -47px;
    background-image: url(./img/group-10.png);
    background-size: 100% 100%;
  }
  
  .desktop .group-9 {
    width: 47px;
    height: 44px;
    left: 62px;
    position: absolute;
    top: 215px;
  }
  
  .desktop .overlap-group-5 {
    position: relative;
    width: 43px;
    height: 44px;
  }
  
  .desktop .text-wrapper-9 {
    position: absolute;
    width: 26px;
    top: 0;
    left: 10px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #3d37f1;
    font-size: 11.4px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-10 {
    width: 43px;
    top: 13px;
    position: absolute;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 28.4px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .group-10 {
    position: absolute;
    width: 1094px;
    height: 285px;
    top: 714px;
    left: 22px;
  }
  
  .desktop .overlap-9 {
    position: relative;
    width: 440px;
    height: 351px;
    top: -28px;
    left: -47px;
    background-image: url(./img/group-10-3.png);
    background-size: 100% 100%;
  }
  
  .desktop .overlap-10 {
    position: relative;
    width: 449px;
    height: 351px;
    top: -28px;
    left: -47px;
    background-image: url(./img/group-10-2.png);
    background-size: 100% 100%;
  }
  
  .desktop .group-11 {
    width: 37px;
    height: 41px;
    left: 70px;
    position: absolute;
    top: 215px;
  }
  
  .desktop .overlap-group-6 {
    position: relative;
    width: 33px;
    height: 41px;
  }
  
  .desktop .text-wrapper-11 {
    width: 33px;
    top: 10px;
    position: absolute;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 28.4px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .overlap-11 {
    position: relative;
    width: 440px;
    height: 351px;
    top: -28px;
    left: -47px;
    background-image: url(./img/group-10-8.png);
    background-size: 100% 100%;
  }
  
  .desktop .text-wrapper-12 {
    width: 208px;
    top: 145px;
    left: 0;
    position: absolute;
    font-family: "Advent Pro-Bold", Helvetica;
    font-weight: 700;
    color: #242565;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .overlap-12 {
    position: absolute;
    width: 57px;
    height: 52px;
    top: 29px;
    left: 13px;
    border-radius: 28.5px/26px;
  }
  
  .desktop .ellipse {
    position: absolute;
    width: 57px;
    height: 52px;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
    border-radius: 28.5px/26px;
  }
  
  .desktop .arrow {
    position: absolute;
    width: 34px;
    height: 22px;
    top: 14px;
    left: 11px;
  }
  